﻿@charset "utf-8";

/* CSS Document */

html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px !important;
}

.topbar {
	position: relative;
	-webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
	height: 50px;
}

.breadcrumb {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0rem 0rem !important;
	margin-bottom: 1rem;
	list-style: none;
	background-color: transparent !important;
	border-radius: .25rem;
}


/*.page-breadcrumb {
	width: 100%;
	font-size: 20px;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 3px;
	margin-bottom: 20px;
}*/

.card-subtitle {
	padding-bottom: 15px !important;
}

.page-link {
	position: relative;
	display: block;
	padding: .5rem .75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #EE0000 !important;
	background-color: #fff !important;
	border: 1px solid #dee2e6;
}

.page-link:hover {
	z-index: 2;
	color: #EE0000 !important;
	text-decoration: none;
	background-color: #e9ecef !important;
	border-color: #dee2e6 !important;
}

.page-item.active .page-link {
	z-index: 1;
	color: #fff !important;
	background-color: #EE0000 !important;
	border-color: #EE0000 !important;
}


/*------------------------------- DSHBOARD CARD -------------------------------*/

.card-counter {
	box-shadow: 2px 2px 10px #DADADA;
	margin: 5px;
	padding: 20px 10px;
	background-color: #fff;
	height: 100px;
	border-radius: 5px;
	transition: .3s linear all;
}

.card-counter:hover {
	box-shadow: 4px 4px 20px #DADADA;
	transition: .3s linear all;
}

.card-counter.primary {
	background-color: #007bff;
	color: #FFF;
}

.card-counter.danger {
	background-color: #ef5350;
	color: #FFF;
}

.card-counter.success {
	background-color: #66bb6a;
	color: #FFF;
}

.card-counter.info {
	background-color: #26c6da;
	color: #FFF;
}

.card-counter i {
	font-size: 5em;
	opacity: 0.2;
}

.card-counter .count-numbers {
	position: absolute;
	right: 35px;
	top: 20px;
	font-size: 32px;
	display: block;
}

.card-counter .count-name {
	position: absolute;
	right: 35px;
	top: 65px;
	font-style: italic;
	text-transform: capitalize;
	opacity: 0.5;
	display: block;
	font-size: 18px;
}


/*--------------------------------------------------------------------*/

.card-counter1 {
	box-shadow: 2px 2px 10px #DADADA;
	margin: 5px;
	padding: 20px 10px;
	background-color: #fff;
	height: 100px;
	border-radius: 0px;
	transition: .3s linear all;
}

.card-counter1:hover {
	box-shadow: 4px 4px 20px #DADADA;
	transition: .3s linear all;
}

.card-counter1.blue {
	border-bottom: 2px solid #027bff;
}

.card-counter1.indigo {
	border-bottom: 2px solid #6610f2;
}

.card-counter1.purple {
	border-bottom: 2px solid #0142c1;
}

.card-counter1.pink {
	border-bottom: 2px solid #843e8c;
}

.card-counter1.red {
	border-bottom: 2px solid #ff0404;
}

.card-counter1.orange {
	border-bottom: 2px solid #ff9000;
}

.card-counter1.yellow {
	border-bottom: 2px solid #d6e300;
}

.card-counter1.green {
	border-bottom: 2px solid #28a745;
}

.card-counter1.teal {
	border-bottom: 2px solid #20c997;
}

.card-counter1.cyan {
	border-bottom: 2px solid #17a2b8;
}

.card-counter1 i {
	font-size: 3.5em;
	opacity: 0.2;
}

.card-counter1 .count-numbers {
	position: absolute;
	right: 35px;
	top: 20px;
	font-size: 32px;
	display: block;
}

.card-counter1 .count-name {
	position: absolute;
	right: 35px;
	top: 65px;
	font-style: italic;
	text-transform: capitalize;
	opacity: 0.9;
	display: block;
	font-size: 16px;
}

/*------------------------------------------------------------------------------------*/

.card-counterWFH {
	box-shadow: 2px 2px 10px #DADADA;
	margin: 5px;
	padding: 10px 10px;
    margin-bottom:20px;
	background-color: #fff;
	height: 100px;
	border-radius: 0px;
	transition: .3s linear all;
}

.card-counterWFH:hover {
	box-shadow: 4px 4px 20px #DADADA;
	transition: .3s linear all;
}

.card-counterWFH.blue {
	border-bottom: 2px solid #027bff;
}

.card-counterWFH.indigo {
	border-bottom: 2px solid #6610f2;
}

.card-counterWFH.purple {
	border-bottom: 2px solid #0142c1;
}

.card-counterWFH.pink {
	border-bottom: 2px solid #843e8c;
}

.card-counterWFH.red {
	border-bottom: 2px solid #ff0404;
}

.card-counterWFH.orange {
	border-bottom: 2px solid #ff9000;
}

.card-counterWFH.yellow {
	border-bottom: 2px solid #d6e300;
}

.card-counterWFH.green {
	border-bottom: 2px solid #28a745;
}

.card-counterWFH.teal {
	border-bottom: 2px solid #20c997;
}

.card-counterWFH.cyan {
	border-bottom: 2px solid #17a2b8;
}

.card-counterWFH i {
	font-size: 3.5em;
	opacity: 0.2;
    padding-top:0px;
}

.card-counterWFH .count-numbers {
	position: absolute;
	right: 35px;
	top: 65px;
	font-size: 25px;
	display: block;
}

.card-counterWFH .count-name {
	position: absolute;
	right: 35px;
	top: 40px;
	font-style: italic;
	text-transform: capitalize;
	opacity: 0.9;
	display: block;
	font-size: 18px;
}

/*--------------------------------------------------------------------*/

/*----------------------------- CHECKBOX ----------------------------------*/

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 0.1em solid #EE0000;
    border-radius: .15em;
    width: 1.0em;
    height: 1.0em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .65em;
    line-height: 0;
    top: 53%;
    left: 10%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}


/*---------------------------- TEXT COLOR --------------------------------*/
/*----------------------------- DATATABLE BUTTON ---------------------------*/

/*.btn-datatable{
    padding:10px 10px 10px 10px;
    border:1px solid #666666;
    background-color:aquamarine;
}*/

.text-blue {
	color: #027bff;
}

.text-indigo {
	color: #6610f2;
}

.text-purple {
	color: #0142c1;
}

.text-pink {
	color: #843e8c;
}

.text-red {
	color: #ff0404;
}

.text-orange {
	color: #ff9000;
}

.text-yellow {
	color: #d6e300;
}

.text-green {
	color: #28a745;
}

.text-teal {
	color: #20c997;
}

.text-cyan {
	color: #17a2b8;
}


/*------------------------- GRID STYLE -------------------------------*/

.table {
	width: 100%;
	margin-bottom: 1rem;
	background-color: #ffffff;
	border-collapse: collapse;
	color: #000000;
}

.table td,
.table th {
	padding: 8px 10px 8px 10px !important;
	vertical-align: top;
	border-top: 0px solid #afb0b0 !important;
	font-size: 14px;
}

.table thead th {
	padding: 9px 10px 9px 10px !important;
	vertical-align: bottom;
	/*border-bottom: 2px solid #afb0b0 !important;*/
	background-color: #EE0000;
	color: #FFFFFF;
	font-weight: 500;
	font-size: 15px;
}

.table tbody+tbody {
	border-top: 0px solid #afb0b0
}

.table .table {
	background-color: #edf1f5
}


/*.table-bordered,
.table-bordered td,
.table-bordered th {
	border: 1px solid #afb0b0 !important
}

.table-bordered-a thead td,
.table-bordered-a thead th {
	border-bottom-width: 2px
}

.table-striped-a tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, .05)
}

.table-hover-a tbody tr:hover {
	background-color: rgba(0, 0, 0, .075)
}*/


/*-------------------------------------------------------------------------------------------*/

.table-b {
	width: 100%;
	margin-bottom: 1rem;
	background-color: transparent;
	border-collapse: collapse;
	color: #000000;
}

.table-b td,
.table-b th {
	padding: 8px 10px 8px 10px !important;
	vertical-align: top;
	border-top: 1px solid #afb0b0;
	font-size: 12px;
}

.table-b thead th {
	padding: 9px 10px 9px 10px !important;
	vertical-align: bottom;
	border-bottom: 2px solid #afb0b0 !important;
	background-color: #636363;
	color: #FFFFFF;
	font-weight: 500;
	font-size: 14px;
}

.table-b tbody+tbody {
	border-top: 2px solid #afb0b0
}

.table-b .table-b {
	background-color: #edf1f5
}

.table-bordered-b,
.table-bordered-b td,
.table-bordered-b th {
	border: 1px solid #afb0b0 !important
}

.table-bordered-b thead td,
.table-bordered-b thead th {
	border-bottom-width: 2px
}

.table-striped-b tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, .05)
}

.table-hover-b tbody tr:hover {
	background-color: rgba(0, 0, 0, .075)
}


/*--------------------------------------------------------------------*/


/*----------------------------- TOP NAVBAR ---------------------------*/

.topnav {
	overflow: hidden;
	-webkit-box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.2);
	box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.2);
	background-color: #F1F1F1;
}

.topnav a {
	float: left;
	display: block;
	color: #000000;
	text-align: center;
	padding: 11px 12px;
	text-decoration: none;
	font-size: 14px;
}

.active-a {
	background-color: #EE0000;
	color: white !important;
}

.topnav .icon {
	display: none;
}

.dropdown-1 {
	float: left;
	overflow: hidden;
	position: inherit !important
}

.dropdown-1 .dropbtn {
	font-size: 14px;
	border: none;
	outline: none;
	color: #000000;
	padding: 11px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	text-decoration: none
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1111;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 11px 20px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.topnav a:hover,
.dropdown-1:hover .dropbtn {
	background-color: #EE0000;
	color: white;
	text-decoration: none;
}

.dropdown-content a:hover {
	background-color: #FFECEC;
	color: black;
}

.dropdown-1:hover .dropdown-content {
	display: block;
}

@media screen and (max-width: 600px) {
	.topnav a:not(:first-child),
	.dropdown-1 .dropbtn {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	.topnav.responsive .dropdown-1 {
		float: none;
	}
	.topnav.responsive .dropdown-content {
		position: relative;
	}
	.topnav.responsive .dropdown-1 .dropbtn {
		display: block;
		width: 100%;
		text-align: left;
	}
}


/*-------------------------------------------------------------------------------*/


/*------------------------------------ BUTTON -----------------------------------*/

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>a:after {
	content: ">";
	float: right;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: 0px;
	margin-left: 0px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.btn-dangerD {
	color: #fff !important;
	background-color: #EE0000 !important;
	border-color: #A80000 !important
}

.btn-dangerD:hover {
	color: #fff;
	background-color: #D51818 !important;
	border-color: #A80000 !important
}

.btn-dangerD.focus,
.btn-dangerD:focus {
	box-shadow: 0 0 0 .2rem rgba(225, 83, 97, .5)
}

.btn-dangerD.disabled,
.btn-dangerD:disabled {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545
}

.btn-dangerD:not(:disabled):not(.disabled).active,
.btn-dangerD:not(:disabled):not(.disabled):active,
.show>.btn-danger.dropdown-toggle {
	color: #fff;
	background-color: #bd2130;
	border-color: #b21f2d
}

.btn-dangerD:not(:disabled):not(.disabled).active:focus,
.btn-dangerD:not(:disabled):not(.disabled):active:focus,
.show>.btn-dangerD.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(225, 83, 97, .5)
}


/*-----------------------------------------------------------------------------------------*/

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #FFFFFF;
	left: 0px;
	text-align: center;
	padding: 12px 0px 12px 0;
	font-size: 14px;
	border-top: 1px solid #035b71;
	background: #EE0000;
	background: -moz-linear-gradient(left, #EE0000 0%, #B90000 100%);
	background: -webkit-linear-gradient(left, #EE0000 0%, #B90000 100%);
	background: linear-gradient(to right, #EE0000 0%, #B90000 100%);
}


/*.card-body > .row {
padding-bottom:20px;
}*/


/*DASHBOARD STYLE*/

.card-padding {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 0.6rem !important;
}

.border-blue {
	border: 1px solid rgba(0, 123, 255, 0.4) !important;
}

.border-indigo {
	border: 1px solid rgba(102, 16, 242, 0.4) !important;
}

.border-purple {
	border: 1px solid rgba(11, 66, 193, 0.4) !important;
}

.border-pink {
	border: 1px solid rgba(232, 62, 140, 0.4) !important;
}

.border-red {
	border: 1px solid rgba(220, 53, 69, 0.4) !important;
}

.border-orange {
	border: 1px solid rgba(153, 126, 20, 0.4) !important;
}

.border-yellow {
	border: 1px solid rgba(255, 153, 7, 0.4) !important;
}

.border-green {
	border: 1px solid rgba(40, 167, 69, 0.4) !important;
}

.border-teal {
	border: 1px solid rgba(32, 201, 151, 0.4) !important;
}

.border-cyan {
	border: 1px solid rgba(23, 162, 184, 0.4) !important;
}

.input-group {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: stretch;
	align-items: stretch;
	width: 100%;
	margin-bottom: 10px !important;
}


/*DASHBOARD STYLE END*/