﻿@model DAL.Models.AllPermissionResponseModel
@{
    ViewBag.Title = "RolePermissions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var thisController = (COD.Controllers.RoleController)ViewContext.Controller;
    string currentControllerName = this.ViewContext.RouteData.Values["controller"].ToString();

    var thisPagePermissions = thisController.currentUser.thisPage.tblPermissions.ToList();
    bool canManagePermission = thisPagePermissions.Where(x => x.Permission == PermissionEnum.UpdateRolePermission).FirstOrDefault() != null ? true : false;
}

<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4>
                <a href='@Url.Action("Index","Role")' class="icon-arrow-left52 position-left"></a>
                <span class="text-semibold">Permission</span> - Manage Permission
                <span class="pull-right">
                    @if (canManagePermission)
                    {
                        <a class="btn btn-primary noloading" id="SaveChanges" _id="0">Save Changes</a>
                    }
                </span>

            </h4>

        </div>
    </div>
    <h4 style="margin-left: 20px;" class="pull-left"><b>Role |</b> @Model.tblRole.RoleName</h4>
</div>

<div class="panel-body">

    <div class="row">

        <div id="divPermissions" class="col-lg-12">

            @{if (Model != null)
                {
                    <div class="table-responsive">
                        <form id="frm_Permission">
                            <div class="box-body">
                                <ul class="nav nav-lg nav-tabs nav-justified no-margin no-border-radius bg-indigo-400 border-top border-top-indigo-300">

                                    @{string active = "active";}

                                    @foreach (var listMod in Model.tblModule)
                                    {
                                        if (listMod.ModuleName.Contains("Complaints & Advisory"))
                                        {
                                            listMod.ModuleName = listMod.ModuleName.Replace("Complaints & Advisory", "Complaints Advisory");
                                        }

                                        <li class="@active"><a href="#@listMod.ModuleName.Replace(" ","")" role="tab" data-toggle="tab">@listMod.ModuleName</a></li>
                                        active = "";



                                    }

                                </ul>
                                <div class="tab-content responsive">

                                    @{active = "active";}
                                    @foreach (var listModule in Model.tblModule)
                                    {
                                        if (listModule.ModuleName.Contains("Complaints & Advisory"))
                                        {
                                            listModule.ModuleName = listModule.ModuleName.Replace("Complaints & Advisory", "Complaints Advisory");
                                        }
                                        if (!listModule.ModuleName.Contains("Dashboard"))
                                        {
                                            if (ViewBag.roleid == 2020 && (listModule.ModuleName.Contains("Security") || listModule.ModuleName.Contains("Setup")))
                                            { }
                                            else
                                            {
                                                <div class="espaciado tab-pane @active" id="@listModule.ModuleName.Replace(" ","")">
                                                    @{active = "";}
                                                    <div class="table-responsive">
                                                        <table id="tbl_@listModule.ModuleName.Replace(" ","")" class="table table-striped table-bordered tblPagePermission" cellspacing="0" width="100%">
                                                            <thead>
                                                                <tr>
                                                                    <th>Page Name</th>
                                                                    <th>Permission</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @{int k = 0;}
                                                                @foreach (var listPages in Model.tblPage.Where(x => x.ModuleID == listModule.ModuleID).ToList())
                                                                {

                                                                    <tr class="formItems">
                                                                        <td>

                                                                            @listPages.PageName
                                                                        </td>
                                                                        <td>


                                                                            <div class="row ">
                                                                                @foreach (var permission in Model.tblPermission.Where(x => x.PageID == listPages.PageID).ToList())
                                                                                {

                                                                                    <div class="col-sm-3 inputele">
                                                                                        @Html.Hidden("PermissionID", permission.PermissionID)
                                                                                        @{bool allow = Model.tblRolePermissionJunc.Where(x => x.PermissionID == permission.PermissionID).FirstOrDefault() != null ? true : false;}
                                                                                        <div class="checkbox">
                                                                                            <label>
                                                                                                @Html.CheckBox("Allow", Convert.ToBoolean(allow)) @permission.Permission

                                                                                            </label>
                                                                                        </div>

                                                                                    </div>
                                                                                            }
                                                                            </div>





                                                                        </td>

                                                                    </tr>
                                                                                                k++;
                                                                                            }


                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                                                                    }
                                                                                                }
                                                                                            }


                                </div>
                            </div>
                        </form>
                    </div>
                                                                                            }
            }

        </div>
    </div>
</div>



@section scripts
{



    <script type="text/javascript">
        $(document).ready(function () {
            $('#SaveChanges').click(function () {

                var rolid = '@ViewBag.roleid';

                $.ajax({
                    url: '@Url.Action("SavePermission", "Role")',
                    type: 'POST',
                    ContentType: 'application/json',
                    dataType: 'json',
                    data: {
                        permissionlist: JSON.stringify(tblToJson2($("#frm_Permission .tblPagePermission tbody tr"))),
                        roleID: rolid
                    },
                    success: function (data) {
                        if (data.IsSave) {
                            window.location.href = "/Role/Index";
                        }
                        else {
                            showMessageAlert("Error", data.Message);
                        }
                    }
                });
            });
        });

    </script>
}